:root{
    --color-warm-terracotta: #D68C45; 
    --color-soft-olive-green: #A5A58D;
    --color-creamy-beige: #F2D7B5;
    --color-dusty-rose: #C18E87;
    --color-antique-white: #FFF7E3;
}

/* Header
Background Color: Warm Terracotta (#D68C45)
Text Color: Antique White (#FFF7E3)
Accent Elements (e.g., Borders, Buttons): Dusty Rose (#C18E87)

Navigation Bar
Background Color: Soft Olive Green (#A5A58D)
Text Color: Antique White (#FFF7E3)
Hover/Active Link Color: Warm Terracotta (#D68C45)

Main Body
Background Color: Creamy Beige (#F2D7B5)
Text Color: Soft Olive Green (#A5A58D)
Section Headers: Warm Terracotta (#D68C45)
Sub-headers/Text Emphasis: Dusty Rose (#C18E87)

Sidebar
Background Color: Antique White (#FFF7E3)
Text Color: Soft Olive Green (#A5A58D)
Accent Elements (e.g., Borders, Buttons): Warm Terracotta (#D68C45)

Footer
Background Color: Soft Olive Green (#A5A58D)
Text Color: Antique White (#FFF7E3)
Links/Icons: Dusty Rose (#C18E87)
*/
.heading{
    background-color: var(--color-antique-white);
    padding: 5px;
}

.heading h1{
    text-align: center;
}
.NajoLogo {
    align-items: center;
}

.NajoLogo img{
    width: 150px; 
    height: auto;
    max-width: 300px;
}

body{
    margin: 0px;
    background-color: var(--color-creamy-beige);
    color: var(--color-soft-olive-green);

}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.topnav {
    background-color: var(--color-soft-olive-green);
    list-style-type: none;
    padding: 0;
    margin: 0px;
    overflow: hidden;
}

.topnav a{
    color: var(--color-antique-white);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.topnav a:hover{
border-radius: 2.5px;
background-color: var(--color-warm-terracotta);
}

.topnav li{
   float: right
}